:root {
  --primary-bg-color: #6db96f;
  --secondary-bg-color: #6cbdea;
  --danger-color: #dc3545;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  outline: none;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New",
    "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
  background: linear-gradient(
    to right,
    var(--secondary-bg-color),
    var(--primary-bg-color)
  );
}

strong.error {
  color: var(--danger-color);
}
